
#main-content .container.fullWidth{
	width:100%;
	text-align: center;
}

.listContainer
{
	position: relative;
	height: 600px;
	width: 610px;
	overflow:hidden;
	white-space: nowrap;
	margin-left:300px;
}
#list
{
	position:absolute;
	display: block;
	white-space: nowrap;
}
#list > div
{
	white-space: nowrap;
	display: inline-block;
	width: 600px;
	height: 550px;
	text-align: center;
}


#list > div img 
{
	width:550px;
	height:400px;
}
.arrow-img {
	line-height: 600px;
}

#maincontainer {
	height: 300px;
	width: 100%;
	display: block;
}

.frontlabel {
	font-size: 100px;
	display: inline-block;
	padding-left: 270px;
	padding-top: 100px;
}

#shred_container {
	width: 100%;
}

.row#addnewbutton {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Carousel base class */
#myCarousel.carousel {
	margin-bottom: 0px;
}

.carousel .container {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

#shred.soften {
	margin: 10px 0;
}

.carousel .item {
	height: 500px;
}

.carousel img {
	min-width: 100%;
	height: 500px;
}

.carousel-caption h1,.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-bottom: 100px;
}

.btn .btn-success .shredArrow {
	top: 50%;
}

.btn.btn-success.shredArrow {
	margin-top: 70px;
}

.nextShred {
	font-size: 100px;
	font-weight: 100;
	line-height: 200px;
	color: #222;
	text-align: center;
	border: 3px solid white;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity =           50);
}

.imageClipped {
	width: 200px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
}

.imageClipped.newsItemImage {
	width: 60px;
	margin: 0;
	display: inline;
}

#shredNews p, a {
	text-align: left;
	margin: 0px;
}

.icon-play.icon-white.shredIcon {
	position: absolute;
	top: 45%;
}

.modal.hide.fade.videoView {
	width: 700px;
}

#playVideoModal {
	top: 30%;
}

.modal.hide.fade.videoView #videoInModal {
	float: left;
}

.battleImage {
	position: relative;
	width: 100%; /* for IE 6 */
}

.battleImage img {
	height: 400px;
}

p.vsText, a.vsText{ 
	font-size: 30px;
	padding-top: 160px;
}

.battleImage h2 {
	position: absolute;
	top: 200px;
	width: 100%;
}

.battleImage h2 span {
	color: white;
	letter-spacing: -1px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
 
#yourBattlesButtonDiv {
	padding-top : 20px;
	padding-bottom : 60px;
}
