
<!-- List of shreds -->
<div class="row-fluid">
	<div class="span3">
		<h5>Newest shreds from your fanees</h5>
		</br>
		<div id="newShredFromFaneeNewsItem"></div>
	</div>
	<div class="span3">
		<h5>New battleshreds from you fanees</h5>
		<div id="latesBattleShreds"></div>
		</br>
	</div>
	<div class="span3">
		<h5>New battle created with your fanees in</h5>
		</br>
		<div id = "newBattlesFromFanees"></div>
	</div>
	<div class="span3">
		<h5>Shredders you might dig</h5>
		<div id ="shreddersYouMightLike" ></div>
		</br> 
	</div>

</div>